* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: lightgoldenrodyellow;
  min-height: 100vh;
  padding-top: 20px;
}

.form-container {
  margin: auto;
  width: 30%;
  text-align: center;
  height: 700px;
  padding-top: 15px;
  background: white;
  border: none;
  border-radius: 10px;
}
.form-container h1 {
  font-size: 2.5rem;
  padding-bottom: 15px;
}

.input-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.input-data input {
  border: none;
  border-bottom: dotted 1px #3e3e3e;
  padding: 5px;
}
.input-data button {
  padding: 5px;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
}
.input-data button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.todoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
}
.addItem ul {
  list-style-type: none;
}
